[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
numpy = "*"
pandas = "*"
flask-mysqldb = "*"
flask-sqlalchemy = "*"
scikit-learn = "*"
scikit-metrics = "*"
naive-bayes = "*"
sqlalchemy = "*"
requests = "*"
keras = "*"
keras-metrics = "*"
tensorflow = "*"
keras-preprocessing = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.8"
